
body {
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #1572A1;
    font-size: 80px;
    line-height: 1.5;
    padding-top: 100px;
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #1572A1;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}


a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 10px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

p {
    line-height: 2;
}

.proff {
    text-decoration: underline;
}

.top-container {
    background-color: #C8F2EF;
    position: relative;
}


.middle-container {
    margin-top: 20px;
}

.bottom-container {
    margin-top: 50px;
    padding-top: 70px;
    padding-bottom: 35px;
    height: 50px;
    background-color: #66BFBF;
}

.cv-picture {
    width: 15%;
    border-radius: 80%;
}

.skill-row {
    margin: 70px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.skill_pic_1 {
    width: 25%;
    border-radius: 80%;
    float: left;
    margin-right: 30px;
}

.skill_pic_2 {
    width: 30%;
    border-radius: 80%;
    float: right;
}

.edu {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}


.cloud-top {
    width: 250px;
    position: absolute;
    left: 350px;
}

.cloud-bottom {
    width: 300px;
    position: absolute;
    right: 100px;
}

.mountain {
    width: 100%;
}

.paragh {
    margin: 0 auto;
    width: 40%;
}

hr {
    border: dotted #D1D1D1 10px;
    border-bottom: none;
    width: 15%;
    margin: 60px auto;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0 10px 0;
}

.btn {
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }